@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.navbar>a {
    float: none;
    color: #000000;
    background-color: #f1f1f1;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.navbar .nav>li>a:hover {
    float: none;
    color: #000000;
    background-color: #f1f1f1;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 400;
}

.navbar, .navbar-inverse {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
	min-height: 80px;
}

.nav li {
	display: inline;
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	color: #ffffff;
	font-family: Lato;
	font-size: 1.7em;
	font-weight: 300;
	padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: #444444;
	transition: 0.7s all linear;
	height: 100%;
}

#social-media-icons {
    font-size: 1.5em;
}


hr {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #cacaca;
}

html body {
    background-color: #f1f1f1;
}

.btn {
    color: #595959;
    background-color: #8cc63f;
    width: 96%;
    margin-bottom: 2px;
}

.lead {
    margin-top: 30px; 
}

.card {
    background-color: #f1f1f1;
    border: 1px solid #000000;
}

.game-card {
    min-height: 30em;
}

.card-text {
    padding: 15px;
    clear: both;
    margin-top: .5em;
    color: #595959;
    font-size: 14px;
    text-align: left;
}

.card-block {
    font-size: 1em;
    position: relative;
    max-height: 300px;
    min-height: 240px;
    margin: 0;
    padding: .75em .5em .5em .5em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card-title {
    color: #595959;
    font-size: 20px;
}

.email-us {
    color: #f1f1f1;
    font-size: 20px;
}

.development_banner {
    position: absolute;
    top: -20px;
    right: 0px;
    display: inline-block;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
}

.basic_layout {
    padding: 3rem 1.5rem;
    text-align: center;
}

.footer {
    margin-top:50px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #3B3838;
}

.character-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
}

.character-box .character-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: white;
    background: rgba(240, 95, 64, 0.9);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.character-box .character-box-caption .character-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}

.character-box .character-box-caption .character-box-caption-content .character-category,
.character-box .character-box-caption .character-box-caption-content .character-name {
    padding: 0 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.character-box .character-box-caption .character-box-caption-content .character-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.character-box .character-box-caption .character-box-caption-content .character-name {
    font-size: 15px;
}

.character-box:hover .character-box-caption {
    opacity: 1;
}

.character-box:focus {
    outline: none;
}

@media (min-width: 768px) {
    .character-box .character-box-caption .character-box-caption-content .character-category {
        font-size: 16px;
    }
    .character-box .character-box-caption .character-box-caption-content .character-name {
        font-size: 22px;
    }
}